
.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 140px;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom:20px;
    font-size: 22px;
}

.textbox {
    position: relative;
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    /* margin-bottom: -24px; */
    border: none;
    border-radius: 5px;
    background-color: #3b82f6;
    color: #fff;
    cursor: pointer;
    /* margin-top: 9px; */
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3b82f6;
}
